/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: red;
  background-color: pink;
}

h1 {
  font-style: bold;
  color: red;
}

.center {
  text-align:center;
}

 a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #00FF00;
  background-color: transparent;
  text-decoration: underline;
 
}

